<%- include('./partials/header') %>

<div class="max-w-screen-xl mx-auto px-6 py-8 sm:px-8 sm:py-12">
  <h2
    class="text-2xl font-bold mb-8 text-start text-gray-800 py-1 border-b border-gray-300"
  >
    Contact Us
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-12">
    <!-- Contact Info -->
    <div>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">Get in Touch</h3>
      <p class="text-[16px] mb-6 text-gray-700">
        Have questions or inquiries? Our customer service team is here to help!
        Reach out to us using the contact details below or by email.
      </p>

      <div class="space-y-6 text-lg text-gray-700">
        <div class="flex items-center">
          <span class="mr-3 text-yellow-500">📧</span>
          <span
            ><strong>Email:</strong>
            <a
              href="mailto:contact@scatch.com"
              class="text-yellow-500 hover:text-yellow-600"
              >contact@scatch.com</a
            >
          </span>
        </div>

        <div class="flex items-center">
          <span class="mr-3 text-yellow-500">📞</span>
          <span
            ><strong>Phone:</strong>
            <a
              href="tel:+1234567890"
              class="text-yellow-500 hover:text-yellow-600"
              >+1 (234) 567-890</a
            >
          </span>
        </div>

        <div class="flex items-center">
          <span class="mr-3 text-yellow-500">📍</span>
          <span
            ><strong>Address:</strong> 123 Watch St., Luxury City, State,
            12345</span
          >
        </div>

        <div class="mt-8">
          <p class="text-lg text-gray-700">
            ⏰ <strong>Our Availability:</strong> We are available from 9:00 AM
            to 6:00 PM (Mon-Fri).
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-8">
        <h4 class="text-[16px] font-semibold text-gray-800 mb-4">
          How Can We Help You?
        </h4>
        <p class="text-lg text-gray-700 mb-6">
          If you have any questions or need assistance, feel free to reach out
          to us anytime during our available hours. Our team is eager to assist
          you.
        </p>
        <p class="text-lg text-gray-700">
          You can contact us via email, phone, or even by visiting us at our
          office. We're here to make your experience with Scatch seamless and
          enjoyable!
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
